.page {
  margin: 0;
  width: 100vw;
  height: 120vh;
  background-image: url(/public/audience-1866738_1920.jpg);

  /* position: relative; */
}

/* .page::after {
  content: "";
  background-image: url(/public/audience-1866738_1920.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  opacity: 0.2;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  position: absolute;
  z-index: -1;
} */

/* .flyingfootball {
  background: url(/public/football-157930_1280.png) repeat-x;
  width: 100%;
  height: 70px;
  background-size: 2%;
  animation: footballfly 30s linear infinite;
}
@keyframes footballfly {
  from {
    background-position: 0%;
  }
  to {
    background-position: 100%;
  }
} */
